<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titre %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset('build/theme/vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{asset('build/theme/css/scrolling-nav.css')}}" rel="stylesheet">


    <link rel="stylesheet" href="{{asset('build/theme/css/CSS-perso.css')}}"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top colorGrey" id="mainNav">
      <div class="container">
          {% block btnRetour %} {% endblock %}
          <a class="navbar-brand js-scroll-trigger" href="#page-top">{% block Nom %} {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% block nav %} {% endblock %}

        </div>
      </div>
    </nav>

    <!-- <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Scrolling Nav</h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
      </div>
    </header> -->
    {% block body %} {% endblock %}


    <!-- Footer -->
    <footer class="py-5 bg-dark colorGrey">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;  2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{asset('build/theme/vendor/jquery/jquery.js')}}"></script>
    <script src="{{asset('build/theme/vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{asset('build/theme/vendor/jquery-easing/jquery.easing.js')}}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{asset('build/theme/js/scrolling-nav.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>

  </body>

</html>
